.co1 {

    background-color: black;
    height: 700px;
    width: 360px;
    border-radius: 50px;
    position: relative;

}

.icon {

    color: rgb(212, 148, 29);
}


.buttons {

    position: absolute;
    top: 42%;
}

.button {

    color: #FFFFFF;
    background-color: #A5A5A5;
    font-size: 1.6rem;

    border-radius: 100px;
    border: 0;

    padding-left: 21px;
    padding-right: 21px;
    padding-top: 17px;

    padding-bottom: 17px;
}

.button3 {

    color: #FFFFFF;
    background-color: #A5A5A5;
    font-size: 1.6rem;

    border-radius: 100px;
    border: 0;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 17px;

    padding-bottom: 17px;
}


.button1 {

    font-size: 2.7rem;

    color: #FFFFFF;
    background-color: #FF9500;


    border-radius: 100px;
    border: 0;


    padding-left: 22px;
    padding-right: 22px;

}


.button2 {
    color: #FFFFFF;
    background-color: #A5A5A5;
    font-size: 2rem;
    border-radius: 100px;
    border: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;


}

.button4 {

    color: #FFFFFF;
    background-color: #333333;
    font-size: 1.6rem;

    border-radius: 100px;
    border: 0;

    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;

    padding-bottom: 15px;

    margin-left: 21px;
}

.button5 {

    color: #FFFFFF;
    background-color: #333333;
    font-size: 1.6rem;

    border-radius: 100px;
    border: 0;

    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;

    padding-bottom: 15px;


}

.button6 {

    color: #FFFFFF;
    background-color: #FF9500;
    font-size: 2rem;

    border-radius: 100px;
    border: 0;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 7px;
    padding-bottom: 7px;


}


.button8 {

    color: #FFFFFF;
    background-color: #FF9500;
    font-size: 2rem;

    border-radius: 100px;
    border: 0;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 9px;
    padding-bottom: 10.7px;

}


.button7 {

    color: #FFFFFF;
    background-color: #333333;
    font-size: 1.6rem;

    border-radius: 100px;
    border: 0;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 15px;

    padding-bottom: 15px;


}


.button9 {

    color: #FFFFFF;
    background-color: #333333;
    font-size: 1.6rem;

    border-radius: 100px;
    border: 0;

    padding-left: 26px;
    padding-right: 26px;
    padding-top: 14px;

    padding-bottom: 14px;

    margin-left: 25px;
}